<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<!-- This must be a fully-qualified file name of the diff utility from
             http://sourceforge.net/project/showfiles.php?group_id=9328&package_id=9393
        -->
    <add key="diffExe" value="C:\bin\usr\local\wbin\diff.exe"/>
		<!-- Arguments for the diff utility. -->
		<add key="diffArgsBase" value="--minimal --ignore-space-change"/>
		<!-- Additional arguments that make the differ ignore white space differences. -->
		<add key="diffArgsIgnoreWhiteSpace" value=""/>
		<!-- Point this to a directory which contains skins for the application.
             The files header.html and footer.html from this directory will get
             injected into HTML output verbatim.
             Note1: the injection happens after ASP.NET is processed, so no ASP.NET
             code should be present.
             Note2: If other files are referenced (style, JavaScript code) they
             should be accessible through the web site.
        <add key="skinDirectory" value="w:\codereview\malevichskin"/>
        -->
		<!-- Default, project-wide maximum line length for the file viewer. -->
		<add key="maxLineLength" value="120"/>
		<!-- Maxinum length, in digits, that a line number could be. -->
		<add key="maxLineNumberLength" value="6"/>
		<!-- The length, in characters, to which a description of a change gets abbreviated in a dashboard view. -->
		<add key="maxDescriptionLength" value="120"/>
		<!-- The length, in characters, to which a review comment gets abbreviated in a list of votes. -->
		<add key="maxReviewCommentLength" value="256"/>
		<!-- Font list for the file viewer. A user is allowed to select from this list in personal settings.
             Options are separated by a semicolon (;).
             
             All fonts MUST be monospace, if they are not, the file viewer will not display correctly.

             The number pairs in parenthesis that follow the font list are the sizes for small, medium, and large
             fonts, respectively. The first number is horizontal size of an individual character in pixels, the
             second number is the vertical size (this is equivalent to 'font size').
             
             Horizontal sizes must be measured (by hand, if required) for every vertical size and it is extremely
             important that these numbers be correct, or the file view panels would not render properly.
        -->
		<add key="fonts" value="Courier New(6:10,7:12,8:14);consolas(6:10,7:12,8:14);monospace(6:10,7:12,8:14)"/>
		<!-- Number of spaces in a tab for display purposes.  -1 or missing =  tab is displayed as \t. -->
		<add key="spacesPerTab" value="4"/>
		<!-- Whether overriding the tab is allowed. -->
		<add key="allowTabOverride" value="false"/>
	</appSettings>
	<connectionStrings>
		<add name="DataConnectionString" connectionString="Data Source=localhost;Initial Catalog=CodeReview;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="TestConnectionString" connectionString="Data Source=localhost;Initial Catalog=CodeReview;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!-- Add get/post protocols for simple web clients. -->
		<webServices>
			<protocols>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
			</protocols>
		</webServices>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
	<!--
		<authorization>
			<allow users="redmond\Department 10507"/>
			<allow users="europe\Department 10507"/>
			<allow users="fareast\Department 10507"/>
			<allow users="northamerica\Department 10507"/>
			<allow users="redmond\howardk"/>
			<deny users="*"/>
		</authorization>
	-->
		<authorization>
			<deny users="?"/>
		</authorization>
		<identity impersonate="true"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="On"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
    </system.web>

	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
