<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="reviewNotifier" type="ReviewNotifier.ReviewNotifierConfiguration, ReviewNotifier, Version=0.9.8.0, Cu
lture=neutral, PublicKeyToken=null" allowLocation="false" />
  </configSections>
  <!--Example reviewNotifier section:
    <reviewNotifier user="<user_name>" domain="<domain_name>" fromEmail="<user_name>"
      database="<db_name>" webServer="<server_name>" emailService="https://mail.microsoft.com/EWS/Exchange.asmx"
      useLdap="true" emailDomain="microsoft.com" logFile="<log_file_path>" />
  -->
  <reviewNotifier />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExchangeServiceBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="StreamedResponse"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="Basic"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
